# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Build outputs
build/
dist/
*.spec

# Reports created by the app
* report.md

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
